<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/font.css" rel="stylesheet">
    <link href="/styles/aboutus.css" rel="stylesheet">
    <link href="/styles/footer.css" rel="stylesheet">
    <link href="/styles/nav.css" rel="stylesheet">
    <title>About Us</title>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/views/main.html"><b>Home</b></a>
        <a href="/views/leaderboard.html"><b>Leaderboard</b></a>
        <a href="/views/eventgallery.html"><b>Event Gallery</b></a>
    </div>

    <div class="header">
        <h1>About Us</h1>
    </div>

    <div class="pic">
        <img src="/images/earth.svg">
    </div>

    <div class="slogan">
        <header>Stay Green with WeCO!</header>
    </div>

    <div class="bios">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/geetika.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Geetika is, WeCO's one and only multitasker. Working in collaboration with
                    both the front and back-end of our application, Geetika has produced the content, design, you name
                    it! Have an extraordinary time experiencing the various features incorporated into WeCO with
                    help of Geetika’s ideologies.

                </p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/danni.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Danni is WeCO's number one technalist; she manages everything behind the scenes,
                    and makes sure that your journey throughout WeCO is successful from the beginning to the end.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/wendy.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Wendy is WeCO's top-tier stylist. With her innovative ideas, she’s given this
                    application its personality. From color-contrasting, to font decisions, to layouts, Wendy’s done it
                    all. Next time you’re scrolling through WeCO, take a look at all the mind-blowing details put
                    into the application to make it stand out!</p>
            </div>
        </div>
    </div>

    <div class="mission">
        <header 1><b>Our Mission</b></header>
        <p>To establish a cleaner carbon footprint whilst encouraging group engagments. Work together and strive
            together</p>
    </div>

    <footer>
        <div id="footercontainer">
            <ul class="bottom">
                <li id="firstitem"><a href="/views/aboutus.html">about us</a></li>
                <li><a href="/views/contactus.html">contact us</a></li>
            </ul>
            <p>&copy; BCIT Women In Computing</p>
        </div>
    </footer>

</body>

</html>