<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/font.css" rel="stylesheet">
    <link href="/styles/eventgallery.css" rel="stylesheet">
    <link href="/styles/footer.css" rel="stylesheet">
    <link href="/styles/nav.css" rel="stylesheet">
    <title>Event Gallery</title>
</head>


<body>
    <div class="content">
    <div class="topnav">
        <a class="active" href="/views/main.html"><b>Home</b></a>
        <a href="/views/leaderboard.html"><b>Leaderboard</b></a>
        <a href="/views/eventgallery.html"><b>Event Gallery</b></a>
        <a id="logout" href="/views/login.html"><b>Log Out</b></a>
    </div>
        <header class="h1">Event Gallery</header>
        <div class="bios">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/trees.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Our team had a great time planting trees in a local park nearby our office. 
                        We planted 3 new additions to the small forest situated behind the playground. It was great afternoon
                        full of fun and adventure! 

                    </p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/recycling.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Today our team gathered a bunch of electronics and batteries that could be recycled. 
                        We ran the event the entire day at work, chatted, had some good laughs and managed to work on our 
                        carbon footprint!
                    </p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/biking.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">The weather was great today, and so a bunch of us planned to bike to work and then go for 
                        a relatively small ride together after work. It was a great way to blow off steam, and all the while keeping the 
                        environment clean!
                    </p>
                </div>
            </div>

        </div>
        </div>
            <footer>
                <div id="footercontainer">
                    <ul class="bottom">
                        <li id="firstitem"><a href="/views/aboutus.html">about us</a></li>
                        <li><a href="/views/contactus.html">contact us</a></li>
                    </ul>
                    <p>&copy; BCIT Women In Computing</p>
                </div>
            </footer>
    </body>
</html>
