<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link href="/styles/font.css" rel="stylesheet">
<link href="/styles/login.css" rel="stylesheet">
<link href="/styles/footer.css" rel="stylesheet">
<title> Login Page </title>  
</head>    
<body>    
    <div id="app-name">WeCO</div>
    <div class="pic">
        <img src="/images/earth.svg" width="15%">
    </div>
    <form>  
        <div class="container">   
            <label>USERNAME </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>PASSWORD </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <input type="submit" value="LOG IN" onClick="myFunction()"/>
         </div> 
    </form>
      
    <footer>
      <div id="footercontainer">
          <ul class="bottom">
              <li id="firstitem"><a href="/views/aboutus.html">about us</a></li>
              <li><a href="/views/contactus.html">contact us</a></li>
          </ul>
          <p>&copy; BCIT Women In Computing</p>
      </div>
  </footer>
  <script src="/scripts/login.js"></script> 
</body>     
</html>  











