<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link href="/styles/font.css" rel="stylesheet">
<link href="/styles/font.css" rel="stylesheet">
<title> Login Page </title>  
</head>    
<body>    
    <center> <div class="pic">
        <img src="/images/earth.svg">
    </div></center>   
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" placeholder="Enter Password" name="password" required>  
            <input type="submit" onClick="myFunction()"/>
    <script>
      function myFunction() {
        window.location.href="/views/main.html";
      }
    </scrip>
        </div>   
    </form>     
</body>     
</html>  











