<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="author" content="BCIT">
  <link href="/styles/font.css" rel="stylesheet">
  <link href="/styles/index.css" rel="stylesheet">
  <link href="/styles/footer.css" rel="stylesheet">
  <link href="/styles/nav.css" rel="stylesheet">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>WeCO</title>
</head>

<body>
  <div class="topnav">
    <a class="active" href="/views/main.html"><b>Home</b></a>
    <a href="/views/leaderboard.html"><b>Leaderboard</b></a>
    <a href="/views/eventgallery.html"><b>Event Gallery</b></a>
    <a id="logout" href="/views/login.html"><b>LOG OUT</b></a>
  </div> 
  <div class="grid">
    <div class="welcome">
      <h1>Hey! Congrats on staying green :)</h1>
    </div>
    <img class="image" src="/images/green.jpg">
  </div>
  <div id="app-name">
    <img class="image" src="/images/weco.png">
  </div>
  <div class="res-circle">
    <div class="circle-txt">Points</div>
    <div class="circle-txt2">77</div>
  </div>
  <div class="button1">
    <button class="event" type="Daily Mission" value="generate" onclick="openPopup()">Daily Mission</button>
  </div>
  <div class="thankyou-popup" id="thankyou-popup">
    <a href="/main" class="goback"><img src="/images/back.png" alt="back" width="20" height="20"></a>
    <img src="/images/smileyface.svg" class="face" alt="smile" width="50" height="50">
    <h2><b>Bring your tumbler to work! <br> Point: +3</b></h2>
    <p class="missionP">Reusable cup can help you to
    <br>
    reduce the usage of paper or plastic cup!</p>
    <a href="/main" class="back">Participate</a>
    <a href="/eventgallery" class="back">Upload Photo</a>
    </div>
  <div class="button2">
  <button class="event" type="Weekly Event" value="generate" onclick="openPopup1()">Weekly Event</button>
  </div>
  <div class="thankyou-popup" id="group-popup">
    <a href="/main" class="goback"><img src="/images/back.png" alt="back" width="20" height="20"></a>
    <img src="/images/smileyface.svg" class="face" alt="smile" width="50" height="50">
    <h2><b>Vegetarian Day! <br>Point: +5</b></h2>
    <p class="missionP">Eating less meat can help reduce pressure on
      <br>forests and land used to grow animal feed.
      <br>No meat today! Become a rabbit :)</p>
    <a href="/main" class="back">Participate</a>
    <a href="/eventgallery" class="back">Upload Photo</a>
  </div>
  <footer>
    <div id="footercontainer">
        <ul class="bottom">
            <li id="firstitem"><a href="/views/aboutus.html">about us</a></li>
            <li><a href="/views/contactus.html">contact us</a></li>
        </ul>
        <p>&copy; BCIT Women In Computing</p>
    </div>
</footer>
<script src="/scripts/popup.js"></script>
</body>
</html>