<%- include('../partials/head') %>
<%- include('../partials/header') %>

<%- include('../main.css') %>

<div class="container">
    <h2>WeCO</h2>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
</style>

<%- include('../partials/footer') %>