        /* Add a black background color to the top navigation */
        .topnav {
            background-color: #7DFF70;
            overflow: hidden;

        }

        /* Style the links inside the navigation bar */
        .topnav a {
            float: left;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }
        
        body {
            padding: 0;
        }

        h1 {
            margin: auto;
            font-size: 40pt;
            padding: 1%;
            max-width: 95%;
            text-align: center;
            border-radius: 100px;
        }

        .header {
            padding-top: 20px;
            color: black;
            margin: auto;
            line-height: 50px;
        }

        #contactus-page {
            display: grid;
            grid-template-columns: 50% 50%;
        }

        h2 {
            text-align: center;
            margin-bottom: 5%;
            margin-left: -2%;
        }

        #contact {
            width: 80%;
            margin-left: 12%;
        }

        label {
            font-size: 15pt;
            text-align: left;
        }

        #contact-form {
            margin-left: 10%;
            margin-top: 5%;
        }

        input[type="text"],
        textarea {
            border: 2px solid #4290D8;
            border-radius: 4px;
            width: 95%;
            resize: none;
        }

        input:focus,
        textarea:focus {
            background-color: #F5DFBB;
        }

        input[type=submit] {
            background-color: #003CFF;
            font-family: 'patrick hand', cursive;
            border: none;
            font-weight: bold;
            color: #F5DFBB;
            padding: 10px 20px;
            text-decoration: none;
            cursor: pointer;
            margin-top: 1%;
            border-radius: 15px;
        }

        input[type=submit]:hover {
            background-color: #0d66ba;
        }

        .thankyou-popup {
            background-color: #f5dfbb;
            border-radius: 6px;
            position: absolute;
            text-align: center;
            color: black;
            font-weight: bold;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 0%);
            visibility: hidden;
            padding: 15px 30px 25px;
            box-sizing: border-box;
        }

        .thankyou-openpopup {
            visibility: visible;
        }

        #tick {
            width: 100px;
            margin-top: -60px;
            border-radius: 50%;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        }

        #back {
            text-decoration: none;
            color: black;
            padding: 3px 5px;
            background-color: #003CFF;
            cursor: pointer;
            border-radius: 8px;
        }

        footer {
            text-align: center;
            padding: 3px;
            background-color: #7DFF70;

        }

        footer a {
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            background-color: #7DFF70;
        }

        @media screen and (max-width: 800px) {
            .thankyou-popup {
                width: 300px;
                font-size: 11pt;
            }

            footer {
            text-align: center;
            padding: 3px;
            background-color: #7DFF70;

        }

        footer a {
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            background-color: #7DFF70;
        }
    }
