#footercontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: black;
    text-align: center;
  }

.bottom {
    list-style: none;
    text-align: left;
    margin-top: 15px;
}

.bottom li {
    display: inline;
}

.bottom li a {
    text-decoration: none;
    color: black;
}

#firstitem {
    margin-right: 15px;
}

#footercontainer p {
    text-align: right;
    margin-right: 15px;
    margin-top: 15px;
}

.bottom a:hover {
    color: darkgreen;
}