img{
    width: 250px;
    margin-left: 40%;
    margin-bottom: 1%;
    margin-top: 5%;
}

.rectangle {
height: 550px;
width: 800px;
background-color: #0DDB36;
margin-bottom: 5%;
margin-left: 22%;
}

p{
position: absolute;
display: grid;
grid-template-columns: 50% 50%;
}

#one{
margin-left: 30%;
font-weight: bold;
font-size: 25pt;
color: #FFD233;
}

#two{
margin-left: 60%;
font-weight: bold;
font-size: 25pt;
color: #FFD233;
}

h1{
margin-left: 41%;
font-size: 50pt;
margin-top: 10%;
}

#footercontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgreen;
    color: black;
    text-align: center;
  }

.bottom {
    list-style: none;
    text-align: left;
    margin-top: 15px;
}

.bottom li {
    display: inline;
}

.bottom li a {
    text-decoration: none;
    color: black;
}

#firstitem {
    margin-right: 15px;
}



.bottom a:hover {
    color: darkgreen;
}
